[submodule "hackathon/Student/Resources/dotnet/dotnet-migration-copilot-samples"]
	path = hackathon/Student/Resources/dotnet/dotnet-migration-copilot-samples
	url = https://github.com/Azure-Samples/dotnet-migration-copilot-samples.git
[submodule "hackathon/Student/Resources/java/PhotoAlbum-Java"]
	path = hackathon/Student/Resources/java/PhotoAlbum-Java
	url = https://github.com/Azure-Samples/PhotoAlbum-Java.git
